* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.title a {
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}

.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
}

main {
  padding: 24px;
}

.countries-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  flex-wrap: wrap;
}

.country-card {
  max-width: 250px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration-line: none;
  color: inherit;
}

.country-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.country-card img {
  width: 100%;
}

.card-text {
  padding-inline: 16px;
}

.card-text p {
  margin-block: 8px;
}

.card-title {
  font-size: 24px;
  margin-block: 16px;
}

.search-filter-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.search-container {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  padding: 0 16px;
  overflow: hidden;
}

.search-container input {
  border: none;
  outline: none;
  padding: 16px;
}

.search-container input ::placeholder {
  color: #999;
}

.filter-by-region {
  width: 200px;
  padding: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .countries-container {
    justify-content: center;
  }
  .header-content {
    justify-content: space-between;
  }
  .header-content > .title,
  p {
    font-size: 11px;
  }
}

@media (max-width: 700px) {
  .search-filter-container {
    flex-direction: column;
  }
}
